<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.fabianterhorst.apiclient.accountmanager">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

    </application>

</manifest>
